@model iNote.Models.Note
@{
    //var some = (ViewBag.isChanging == 1) ? (ViewData["Title"] = "Создание новой заметки") : (ViewData["Title"] = "Изменение заметки");
    if (ViewBag.isCreating == 1)
    {
        ViewData["Title"] = "Создание новой заметки";
    }
    else
    {
        ViewBag.isChanging = 1; // _Layout - String 34
        ViewData["Title"] = "Изменение заметки";
        ViewBag.EntryFieldName = $"value=\"{Model.Title}\"";
        ViewBag.EntryFieldDesc = $"value=\"{Model.Desc}\"";
    }
}
<form method="post" class="form-horizontal" role="form">
    <h2>@ViewData["Title"]</h2>
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Название:</label>
        <div class="col-md-4">
            <input id="newTitle" type="text" name="Title" @Html.Raw(ViewBag.EntryFieldName) class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Address" class="col-md-2 control-label">Текст:</label>
        <div class="col-md-4">
            <input id="newDesc" type="text" name="Desc" @Html.Raw(ViewBag.EntryFieldDesc) class="form-control" />
        </div>
    </div>
    <label for="Address" class="col-md-2 control-label">Цвет:</label>
    <div class="col-md-4 mb-4">
        <select class="form-control" name="Color">
            <option selected value="dark" class="text-dark">Темно-серый</option>
            <option value="success" class="text-success">Зеленый</option>
            <option value="primary" class="text-primary">Синий</option>
            <option value="danger" class="text-danger">Красный</option>
            <option value="warning" class="text-warning">Желтый</option>
            <option value="secondary" class="text-secondary">Серый</option>
            <option value="white" class="text-white">Белый</option>
        </select>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="sendRequest" class="btn btn-success" value="Сохранить" />
        </div>
    </div>
</form>

@if (ViewBag.isChanging == 1)
{
    <form class="d-none">
        <input id="id" type="text" value="@Model.Id" class="form-control" />
        <input id="oldTitle" type="text" name="Title" @Html.Raw(ViewBag.EntryFieldName) class="form-control" />
        <input id="oldDesc" type="text" name="Desc" @Html.Raw(ViewBag.EntryFieldDesc) class="form-control" />
    </form>
    <div class="d-none" id="confirm">
        <div class="confirm-window">
            Были внесены изменения. Сохранить их?
            <button type="button" class="btn btn-success" id="saveChanges">Да</button>
            <button type="button" class="btn btn-warning" id="discardChanges">Нет</button>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
